{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/group_members.css') }}">
{% endblock %}
{% block container %}
<div class="row">
    {% for member in members %}
    <div class="col s12 m6 l4 card-wrapper">
        <a href="http://facebook.com/{{ member.facebook_id }}" target="_blank">
            <div class="card">
                <div class="card-image">
                    <img src="{{ member.profile_image }}" class="img-size">
                    <img src="{{ url_for('static', filename='img/frame.png') }}" alt="" class="frame-overlay">
                </div>
                <div class="card-content">
                    <p>{{ member.name }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
