{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/group_list.css') }}">
{% endblock %}
{% block container %}
<div class="row">
  {% for group in groups %}
  <div class="col s12 m6 l4">
    <a href="{{ url_for('groups.group_members', group_id=group.key().id_or_name()) }}">
      <div class="card">
        <div class="card-image">
          <img src="{{ group.cover_image }}" class="img-size">
        </div>
        <div class="card-content">
          <p>{{ group.name }}</p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}

  <div class="col s12 m6 l4">
    <a href="{{ url_for('groups.group_add') }}">
      <div class="card">
        <div class="card-image">
          <i class="mdi-content-add"></i>
        </div>
        <div class="card-content">
          <p>그룹 추가하기</p>
        </div>
      </div>
    </a>
  </div>

</div>
{% endblock %}
